body {
  font-family: roboto, arial, sans-serif;
}

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  height: 72px;
  border-bottom: solid 1px #e0e0e0;
  box-shadow: 0 5px 5px #e0e0e0;
}

.nav-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: 10px;
}

.enter {
  display: flex;
  align-items: center;
  height: 72px;
}
.enter_button {
  margin-right: 20px;
  box-sizing: border-box;
  padding: 12px 21px;
  background: url("img-content/not-active-bg.png");
  border: solid 1px #e0e0e0;
  border-radius: 2px;
  cursor: pointer;
}

.enter_button:hover {
  background: url("img-content/active-bg.png");
}

.content {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 130px;
  margin-bottom: 60px;
}

.search {
  border: none;
  font-size: 16px;
  color: #626262;
  border-bottom: solid 1px #979797;
  width: 100%;
}

.content_header {
  flex-basis: 100%;
  padding: 40px 0 20px 0;
  color: #1d1d1d;
  font-size: 22px;
}

.restaurants {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.card {
  margin-bottom: 15px;
}

.card-header {
  font-size: 16px;
  color: #1d1d1d;
}

.card-description {
  font-size: 14px;
  color: #626262;
}

.card-time {
  font-size: 13px;
  color: #1d1d1d;
}

.card img {
  width: 100%;
}

.card a, li a, .copyright a {
  text-decoration: none;
  color: unset;
}

footer {
  position: absolute;
  bottom: auto;
  left: 0;
  background-color: #262626;
  width: 100%;
}

.logo-footer,
.nav-footer, .copyright {
  color: #ffffff;
}

.logo-footer, .nav-footer, .apps {
    border-bottom: solid 1px #979797;
}

.logo-footer {
  padding: 40px 0;
}

.nav-footer {
  display: flex;
  padding: 15px 0;

}

.nav-footer li {
  list-style-type: none;
  font-size: 13px;
  line-height: 2.5em;
}

.collapsed-btn {
  display: flex;
  background-color: #3b3b3b;
  width: 227px;
  padding: 7px 0 7px 0;
  align-items: center;
  border-radius: 3px;
  justify-content: space-around;
  margin-bottom: 25px;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.languages {
    display: none;
}

ul li:hover .languages {
    display: block;
    margin:1px;
}

ul li:active .languages {
    display: block;
    margin:1px;
}

.collapsed-btn:hover {
  background-color: #979797;
}

.arrow-down {
  border: solid #ffffff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
}

.lang {
  display: flex;
  align-items: center;
}

.icons img {
    padding-right: 10px;
    height: 35px;
}

.apps, .copyright {
    display: flex;
    justify-content: space-evenly;
    padding: 40px 0;
}
