body {
  background-color: #ffffff;
  font-family: roboto;
  font-size: 16px;
}

.main_header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0 5px 5px #e0e0e0;
  background-color: #ffffff;
}

.enter-button {
  background: url("img-content/not-active-bg.png");

  border: 1px solid #e0e0e0;
  border-radius: 6%;
  padding: 14px 20px 14px 20px;
  font-size: 13px;
  margin-top: 15px;
  margin-bottom: 15px;
}

button:hover {
    background: url("img-content/active-bg.png");
}

.main-logo {
  margin: 0.7em 0 0.7em 0;
}

.search-container {


    margin-top: 100px;
    display: flex;
}
.searchform {

    padding-top: 1em;
    width: 100vw;
    font-size: 1.5em;
    color: #626262;
    border: none;
    border-bottom: solid 1px #757575;
}
